/* este es el archivo de estilos para el portafolio */ 

/* estilos generales */ 

section {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
} 

h1 {
    font-size: 2.5rem; 
    font-family: "Bungee Inline", Arial;
}

.seccion-oscura {
    color: black; 
    background-color: white;
} 

.seccion-oscura {
    color: white; 
    background-color: #1b1b32;
} 

.seccion-titulo {
    font-size: 2rem; 
    padding: 15px 0;
    font-family: "Bungee Inline", Arial; 
    font-weight: 400; 
    text-align: center;
} 

.seccion-descripcion {
    font-size: 1.3rem; 
    color: #584e4e;
}

.textto-negro {
    color: black;
} 

.texto-blanco {
    color: white;
}

.seccion-texto {
    font-size: 1.4; 
    text-align: center;
}

.navbar {
    padding: 2rem; 
    background-color: #f5f6f7;
} 

.navbar-collapse {
    align-items: center; 
    justify-content: space-between;
} 

li{
    font-weight: bold;
}

.heroe {
    background-color: #f5f6f7; 
    min-height: 450px; 
    text-align: center;
} 

.heroe-principal {
    padding: 3rem;
} 

.heroe-imagen-desarrollador {
    width: 300px; 
    height: 300px; 
    margin: 20px; 


} 

.heroe-principal h1 {
    font-size: 2rem;
} 

.heroe-principal h1 {
    font-size: i.5rem;
    color: #0b84b8;
} 

.heroe-imagen-inferior {
    width: 500px; 
    height: auto; 
} 

/*Estilos para sobre-mi*/ 

.sobre-mi {
    height: 500px; 
    padding: 10px; 
} 

.sobre-mi .container {
    max-width: 700px; 

} 

/* experiencia */ 

.experiecia {
    padding: 40px 40px 60px 40px; 

} 

.experiencia .columna {
    padding: 20px; 
    border: 3px solid gray; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    transition: all 0.2s ease-in;
} 

.experiencia .columna:hover {
    color: white; 
    background-color: #1b1b32;
} 

.experiencia i {
    font-size: 2.5rem; 
    color: #7ade30; 
    background-color: #0a0a23; 
    padding: 8px 19px; 
    border-radius: 50%;
} 

.experiencia-titulo {
    font-size: 25px; 
    font-weight: bold; 
    margin: 10px 0;    
} 

.badge-container {
    font-size: 20px; 
    font-weight: bold; 
    margin: 10px 0;
} 

.badge {
    margin: 5px;
} 


/* Proyectos */ 

.proyectos-recientes {
    padding: 40px; 
} 

.proyectos-container {
    padding-top: 60px; 
    margin-bottom: 40px; 
} 

.proyecto {
    position: relative;
} 

.proyectos-recientes img {
    height: 100%; 
    width: 100%; 
    padding: 10px; 
    border-radius: 10px; 
    display: block; 
    transition: all 0.2s ease;
} 

.proyecto:hover img {
    opacity: 0.2;
} 

.proyecto:hover .overlay {
    opacity: 0.2;
}

.overlay {
    transition: all 0.2s ease;  
    opacity: 0; 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    text-align: center; 
} 

.overlay p {
    font-size: 25px; 
    font-weight: bold; 
    margin-bottom: 0; 
} 

.overlay iconos-contenedor {
    display: flex;
} 

.overlay i {
    color: black; 
    font-size: 60px; 
    margin: 10px;
} 

/* carousel */ 

.testimonios {
    padding: 40px 40px 8px 40px;
} 

.testimonios .carousel {
    max-width: 800px;
} 

.carousel-item {
    height: 500px; 
} 

.carousel-item .container { 
    width: 100%; 
    height: 100%; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
} 

.testimonio-imagen {
    height: 150px; 
    width: 150px; 
    margin: 10px 10px 20px 10px; 
} 

.testimonio-texto {
    max-width: 70%; 
    font-size: 20px; 
    text-align: center; 
    font-family: monospace; 
} 

.testimonio-info {
    font-weight: bold; 
    text-align: center; 
} 

.testimonio-info p {
    margin: 0;
} 

.testimonio-info .cliente {
    font-size: 1.2rem;
} 

.testimonio-info .cargo {
    font-size: 0.9rem; 
    color: #656060;
} 

/* Estilos para contacto */ 

.contacto .container {
    max-width: 1100px; 
    min-height: 200px; 
    padding: 20px;
} 

.contacto .rectangulo {
    margin-top: -5rem; 
    background-color: rgba(11, 158, 220); 
    border-radius: 10px; 
    box-shadow: 0px 1px 4px 1px white;
} 

.contacto .row {
    width: 100%; 
    display: flex; 
    align-items: center;
} 

.contacto .description {
    color: white; 
    font-size: 1.2rem; 
} 

.contacto button {
    color: white; 
    font-weight: bold; 
    background-color: transparent; 
    border: 2px solid white; 
    padding: 1.25rem 2rem; 
    margin: 10px; 
    border-radius: 100px; 
    transition: all 0.2s ease-in-out; 
} 

.contacto button:hover {
    background-color: white; 
    color: black; 
} 

.contacto button i {
    color: white; 
    font-size: 1.3rem; 
    transition: all 0.2s ease-in-out; 
} 

.contacto button:hover i {
    color: black;
} 

/* ----------Pie de pagina (footer)----------- */
 
  footer {
    min-height: 500px;
  }
 
  .footer-logo {
    height: 80px;
    width: 80px;
    margin: 10px;
  }
 
  .footer-texto {
    font-size: 1.5rem;
    padding: 20px;
    margin-bottom: 30px;
    font-family: 'Quicksand', sans-serif;
  }
 
  .iconos-redes-sociales a {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 10px;
    border: 2px solid white;
    border-radius: 50%;
    transition: all 0.2s ease-in;
  }
 
  .iconos-redes-sociales i {
    color: white;
    font-size: 1.5rem;
    transition: all 0.2s ease-in;
  }
 
  .iconos-redes-sociales a:hover {
    background-color: white;
    border: 2px solid rgb(13, 110, 253);
  }
 
  .iconos-redes-sociales a:hover i {
    color: black;
  }
 
  .derechos-de-autor {
    font-size: 15px;
    color: #aeaeae;
    padding: 20px;
  }
  #pinguino {
    font-size: 100px;
    color: blue
  }
  i {
    font-size: 100px;
    color: red;
  }
 
  /* Adaptable (Responsivo) */
 
    @media screen and (max-width: 767px) {
    .navbar-brand {
      display: none;
    }
  }
 
    @media screen and (min-width: 700px) {
    .hero-inferior-imagen {
      max-width: 600px;
    }
  }
 
  @media screen and (max-width: 400px) {
    .overlay p {
      font-size: 18px;
    }
 
    .overlay i {
      font-size: 40px;
    }
  }
 
  @media screen and (max-width: 800px) {
    .testimonio-imagen {
      height: 120px;
      width: 120px;
    }
 
    .testimonio-texto {
      font-size: 18px;
    }
  }